.formContainer {
  border: 1px solid white;
  background-color: rgba(17, 21, 75, 0.637);
  min-width: 723px;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.form {
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  padding: 0 35px 30px;
  color: white;
  font-size: 0.9rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputContainer > label {
  opacity: 0;
}

.inputContainer > input {
  max-width: 100px;
}

.inputContainer > select {
  width: 100px;
}


.checkbox {
  flex-direction: row;
  align-items: center;
}

.checkbox > label {
  opacity: 1;
  margin-left: -30px;
  margin-right: 5px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 212, 119);
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.submit {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}